ul {
    list-style: none;
}

.companies {
    position: relative;
    padding-top: 64px;
}


.container h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

}

.companies ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 50px;
    padding-left: 2px;
    top: 10px;
}

.companies li:first-child {
    transform: translate(1px, -4px);
}

.companies li:last-child {
    transform: translate(1px, -3px);
}

.features>.container {
    padding-top: 86px;
    padding-bottom: 19px;
    gap: 190px;
    display: flex;
}

.features .screen {
    position: relative;
}

.features .shadow {
    position: absolute;
    left: 73px;
    top: 156px;
    z-index: -1;
}

.features .shadow::before {
    width: 271px;
    height: 556px;
    background: #03101A;
    opacity: 0.1;
    filter: blur(118px);
    border-radius: 50px;
    content: "";
    display: block;
}

.features .shadow::after {
    content: "";
    display: block;
    width: 219px;
    height: 219px;
    background-image: url("../img/line_d.svg");
    position: absolute;
    left: -34px;
    top: 400px;
    background-position: center;
}

.features .screen::before {
    content: "";
    display: block;
    position: absolute;
    width: 136px;
    height: 136px;
    left: 0px;
    top: 0px;
    background-image: url(../img/line_l.svg);
    background-position: center;
    z-index: -1;
    left: -52px;
    top: 30px
}

.features .plus {
    position: absolute;
    left: 299px;
    top: 367px;
    background-image: url(../img/plus.svg);
    width: 39px;
    height: 39px;
}

.features .column {
    padding-top: 101px;
}

.features h2 {
    font-weight: 700;
    font-size: 38px;
    padding-left: 3px;
}

.features ul {
    display: flex;
    margin-top: 96px;
    flex-direction: column;
    gap: 48px;
}

.features h3 {
    font-weight: 500;
    font-size: 21px;
}

.features p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
}

.column .feature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95px;
    gap: 24px 28px;
}

.testimonials {
    text-align: center;
}

.testimonials h4 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    padding-top: 97px;
}

.testimonials ul {
    display: flex;
    padding-top: 79px;
    padding-left: 56px;
    gap: 103px;
    padding-bottom: 77px;
}

.testimonials li {
    width: 284px;
}

.testimonials li:first-child {
    width: 260px;
    margin-right: 12px;
}

.testimonials li:last-child {
    width: 280px;
}

.testimonials h5 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-top: 18px;
    margin-bottom: 21px;
}

.testimonials p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 273px;
    margin: auto;
    text-align: center;
}